
  <p-toolbar>
    <button class="p-button" (click)="onFilmovi()">Filmovi</button>
  <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">Glumci</a>
  <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">Direktori</a>
  <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer" class="p-button font-bold">Žanrovi</a>
  <button class="p-button" (click)="onKorisnickiRacun()">Kreiraj korisnicki racun</button>
  <button class="p-button" (click)="onLogout()">Odjava</button>
  </p-toolbar>